server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/affirm?useSSL=false&serverTimezone=UTC
    username: affirm
    password: secret
  redis:
    host: localhost
    port: 6379
  flyway:
    enabled: true
    locations: classpath:db/migration
management:
  endpoints:
    web:
      exposure:
        include: health,info


